.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1pxsolidrgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 40rem;
}

@media (max-width: 767.98px) { 
    
    .container {
        display: inline;
        justify-content: space-around;
        align-items: center;
    }
 }
  
